

/* voice_pagetitle */

.voice_pagetitle {
    margin: auto;
    margin-top: 140px;
    margin-bottom: 104px;
}
#voice_pagetitle_h2  {
    text-align: center;
    font-size:80px; 
    font-family: 'Cinzel', serif;
    font-weight: 400;
}
.voice_pagetitle p {
    font-size: 18px;
    text-align: center;
}
/* voice_pagetitle */

/* voice_main */
.voice_main {
    width: 100%;
}
.voice_main_cover {
    background-color: #F2F2F2;
    position: relative;
    padding-bottom: 160px;
}
.voice_main_title {
    width: 60%;
    text-align: center;
    padding:16px 0px;
    margin: auto;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 2;
    margin-bottom: -20px ;
    background-color: #fff;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.05);
}
.voice_main_contents {
    width: 100%;
    max-width: 1262px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 136px 24px ;
    margin: 0px auto;
    margin-bottom: 80px;
}
.voice_main_box_wrapper {
    margin-right: 24px;
}
.voice_main_box_wrapper:last-child {
    margin-right: 0px;
}
.voice_main_box {
    width: 100%;
    padding: 24px 24px 48px;
    margin-right: 24px;
    max-width: 286px;
    height: 440px;
    text-align: center;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.05); 
    background-color: #fff;
}
/*
.voice_main_box_wrapper::after{
    content: '';
    position: absolute;
    left: 0;
    right: -111%;
    bottom: 50%;
    width: 24px;
    height: 2px;
    margin: auto;
    background-color: #000;
  }
  .voice_main_box:last-child::after{
    content: '';
    position: absolute;
    left: 0;
    right: -259px;
    bottom: 50%;
    width: 0px;
    height: 0px;
    margin: auto;
    background-color: #000;
  }

  
.voice_main_box:last-child {
    margin-right: 0px; 
}
*/
.voice_main_box h3 {
    font-size: 20px;
    margin-bottom: 16px;
}
.voice_main_box p {
    line-height: 160%;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.voice_number {
    width: 100%;
    max-width: 64px;
    margin: auto;
    margin-bottom: 24px;
}
.voice_number img {
    width: 100%;
}
.voice_icon {
    margin-bottom: 16px;
}
.voice_icon img{
    width: 70px;
}
/* voice_main */

/*voice_main 990px */
@media screen and (max-width:990px){
    .voice_main_contents {
        display: block;
        width: 100%;
        max-width: 990px;
        padding: 80px 64px;
    }
    .voice_main_box {
        max-width: 990px;
    }
    .voice_main_title {
        
    }
    .voice_main_box_wrapper {
        margin-bottom: 80px;
    }
    
    /*
    .voice_main_box::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0px;
        bottom: -30%;
        width: 2px;
        height: 120px;
        margin: auto;
        background-color: #000;
      }
      */
    .voice_main_box h3 {
        text-align: center;
        margin: auto;
        margin-bottom:16px;
    }
    .voice_icon {
        text-align: center;
    }
    
}
/*voice_main 990px */

/*voice_main 768px */
@media screen and (max-width:768px){
    .voice_main_contents {
        max-width: 768px;
        padding: 80px 40px;
        margin-bottom: 40px;
    }
}
/*voice_main 768px */

/*voice_main 440px */
@media screen and (max-width:440px){
    .voice_main_contents {
        padding: 80px 24px;
    } 
}

/*voice_main 440px */



/*ballon */
.balloon {
    width: 80%;
    margin: 0px auto;
    margin-top:-24px;
    background-color: #d9d9d9;
}
.balloon_box {
    position: relative;
    padding: 16px;
    z-index: 2;
    width: 100%;
    color: #555;
    font-size: 14px;
    border-radius: 8px;
    margin: auto;
}
.balloon_box:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #d9d9d9;
}

.balloon_text {
    text-align: start;
    margin: 0;
    padding: 0;
}
.balloon p {
    font-family: '游明朝 Medium', serif;
    font-size: 16px;
}

.balloon_button {
    text-decoration:underline;
    font-size: 16px;
    text-align: end;
    font-weight: bold;
}
/*ballon */

/*ballon 990px*/
@media screen and (max-width:990px){
    .balloon {
        width: 100%;
    }
    .balloon_box {
        position: relative;
        padding: 24px;
        width: 800px;
        color: #555;
        font-size: 14px;
        background-color: #d9d9d9;
    }
}
/*ballon 990px*/

/*voice_sub */
.voice_sub {
    width: 100%;
}
.voice_sub_title {
    text-align: center;
    margin-bottom: 40px;
}
.voice_sub_contents {
    padding: 0px 112px;
}
.voice_sub_box {
    background-color: #fff;
    display: flex;
    align-items: start;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 16px;
}

.voice_sub_box:nth-child(2n) {
    flex-flow: row-reverse;
}
.voice_sub_box:last-child {
    margin-bottom: 0px;
}
.voice_sub_box_image {
    width: 100%;
    max-width: 365px;
    height: 260px;
    background-position: center;
    background-size: cover;
    margin: 16px;
    border-radius: 8px;
}
.voice_sub_box_text {
    margin: 16px;
}
.voice_sub_box_text h3{
    font-size: 20px;
    margin-bottom: 32px;
    font-weight: 500;
}
.voice_sub_box_text p{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/*voice_sub */


/*voice_sub 990px*/
@media screen and (max-width:990px){
    .voice_sub_contents {
        padding: 0px 64px; 
    }
    .voice_sub_box_image {
     
    }
}
/*voice_sub 990px*/

/*voice_sub 768px*/
@media screen and (max-width:768px){
    .voice_sub_box {
        display: block;
        padding: 24px;
    }
    .voice_sub_contents {
        padding: 0px 40px; 
    }
    .voice_sub_box_image {
        max-width: 768px;
        height: 200px;
        margin: 0px;
        margin-bottom: 16px;
    }
    .voice_sub_box_text {
        margin: 0px;
    }

}
/*voice_sub 768px*/


/*voice_sub 440px*/
@media screen and (max-width:440px){
    .voice_sub_contents {
        padding: 0px 24px; 
    } 
   
    .voice_sub_box_image {

    }
    .voice_sub_box_text h3{
        font-size: 18px;
        margin-bottom: 32px;
    }
}

/*voice_sub 440px*/